<ul>
<% @tasks.each do |task| %>
  <li>
    <p>
      <%= task.title %>
      <%= link_to t('view.common.link_text.edit'), edit_task_path(task) %>
      <%= link_to t('view.common.link_text.delete'),
          task_path(task), method: :delete,
          data: {confirm: t('view.task.message.delete_confirm')} %>
    </p>
  </li>
<% end %>
</ul>
<%= link_to t('view.common.link_text.new'), new_task_path %>
