<ul>
<% @tasks.each do |task| %>
  <li>
    <p>
      <%= task.title %>
      <%= link_to "編集", edit_task_path(task) %>  
      <%= link_to "削除", task_path(task), method: :delete, data: {confirm: "本当に削除しますか？"} %>
    </p>
  </li>
<% end %>
</ul>
