<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">TODO</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
    </ul>
    <% if @current_user %>
    <span class="navbar-text mr-sm-2">
      <%= @current_user.email %>
    </span>
    <span class="mr-sm-2">
      <%= link_to t('view.session.link_text.logout'), logout_path, method: :delete, id: 'logout-link' %>
    </span>
    <% else %>
    <span class="mr-sm-2">
      <%= link_to t('view.session.link_text.signup'), signup_path, id: 'signup-link' %>
    </span>
    <span class="mr-sm-2">
      <%= link_to t('view.session.link_text.login'), login_path, id: 'login-link' %>
    </span>
    <% end %>
  </div>
</nav>

